<div class="container">
  <span *ngIf="activationResponse!=''" style="color: rgb(1, 194, 1)">

    <br/> {{activationResponse}}
  </span>
  <mat-grid-list cols="4" rowHeight="500px" gutterSize="20px">

    <mat-grid-tile *ngFor="let post of posts">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.user_name}}</mat-card-title>
          <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
        </mat-card-header>


        <img mat-card-image src="{{'https://firebasestorage.googleapis.com/v0/b/mwamp-cffcf.appspot.com/o/'+
        post.image_urls[0]+
          '?alt=media&token=cb68bddb-5097-420f-a84e-072498e580fb'}}" alt="">
        <mat-card-content>

          <p>
            {{post.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>

          <div *ngIf='post.status.key ===1'>
            <button mat-button (click)="activatePost(post._id)">Activate</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>