<router-outlet>
</router-outlet>
<!DOCTYPE html>
<html>

<head>
    <title>The Market Place</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->

    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>


</head>

<body>

    <div class="header">

        <div class="container">

            <div class="logo">
                <h1>
                    <a href="index.html">
                        The Market Place

                    </a>
                </h1>
            </div>
            <div class="head-t">
                <ul class="card">
                    <li>
                        <a [routerLink]="['login']">
                            <i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    </li>


                    <li>
                        <a [routerLink]="['register']">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a>
                    </li>

                </ul>
            </div>




            <div class="nav-top">
                <nav class="navbar navbar-default">

                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            <li class=" active">


                                <a [routerLink]="['/admin']" class="hyper ">
                                    <span>Admin</span>
                                </a>
                            </li>
                            <li>

                                <a [routerLink]="['/postcreate']" class="hyper ">
                                    <span>Create Post</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/posts']" class="hyper ">
                                    <span>List Post</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>



    <!--content-->
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>Products</h3>
                <div class="ser-t">
                    <b></b>
                    <span>
                        <i></i>
                    </span>
                    <b class="line"></b>
                </div>
            </div>
            <div class=" con-w3l">
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                            <img src="images/of16.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html">Moisturiser</a>(500 g)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <em class="item_price">$6.00</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal18" class="offer-img">
                            <img src="images/of17.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html"> Lady Finger</a>(250 g)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$5.00</label>
                                    <em class="item_price">$4.50</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal19" class="offer-img">
                            <img src="images/of18.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html"> Ribbon</a>(1 pc)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$4.00</label>
                                    <em class="item_price">$3.50</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal20" class="offer-img">
                            <img src="images/of19.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html">Grapes</a>(500 g)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$1.00</label>
                                    <em class="item_price">$0.80</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal21" class="offer-img">
                            <img src="images/of20.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html">Clips</a>(1 pack)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$7.00</label>
                                    <em class="item_price">$6.00</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal22" class="offer-img">
                            <img src="images/of21.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html">Conditioner</a>(250 g)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$5.00</label>
                                    <em class="item_price">$4.50</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal23" class="offer-img">
                            <img src="images/of22.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html">Cleaner</a>(250 kg)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$4.00</label>
                                    <em class="item_price">$3.50</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal24" class="offer-img">
                            <img src="images/of23.png" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6>
                                    <a href="single.html">Gel</a>(150 g)</h6>
                            </div>
                            <div class="mid-2">
                                <p>
                                    <label>$1.00</label>
                                    <em class="item_price">$0.80</em>
                                </p>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>





</body>

</html>