<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="table-div">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="image_urls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img alt="" style="height: 70px; width: 100px;" src="{{'https://firebasestorage.googleapis.com/v0/b/mwamp-cffcf.appspot.com/o/'+
            element.image_urls[0]+
              '?alt=media&token=cb68bddb-5097-420f-a84e-072498e580fb'}}" data-holder-rendered="true">
        <!-- <img alt="" style="height: 70px; width: 100px;" src="{{img}}" data-holder-rendered="true"> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef> Seller </th>
      <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency :'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="condition">
      <th mat-header-cell *matHeaderCellDef> Condition </th>
      <td mat-cell *matCellDef="let element">
        <p *ngIf="element.condition ==1; then new else used"></p>
        <ng-template #new>New</ng-template>
        <ng-template #used>Used</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-raised-button (click)="onSelect(element)">Details</button> -->
        <button mat-raised-button [routerLink]="['/posts', element._id ]"> Details </button> |
        <span *ngIf="element.user_id == userId">
          <button mat-raised-button [routerLink]="['/postupdate', element._id ]"> Update </button> |
        </span>
        <span *ngIf="element.user_id == userId">
          <button mat-raised-button class="btn btn-danger" (click)="onDelete(element._id)"> Delete </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[3, 5, 20]" showFirstLastButtons></mat-paginator>
</div>