<div *ngIf="isSelected" class="container">
  <h2>Details of {{selectedPost.title}}:</h2>
  <div class="row">
    <div class="col-md-2">
      <span *ngFor="let img of selectedPost.image_urls">
        <img class="card-img-top" alt="" style="height: 140px; width: 100%; display: block;" src="{{'https://firebasestorage.googleapis.com/v0/b/mwamp-cffcf.appspot.com/o/'+
          img+
          '?alt=media&token=cb68bddb-5097-420f-a84e-072498e580fb'}}" data-holder-rendered="true">
        <br/>
      </span>
    </div>
    <div class="col-md-4">
      <span class="pull-right">
        <p>
          <label>Seller: </label> {{selectedPost.user_name}}
        </p>
        <p>
          <label>Description: </label> {{selectedPost.description}}
        </p>
        <p>
          <label>Price: </label> {{selectedPost.price | currency :'USD'}}
        </p>
        <p>
          <label>Contact Number: </label> {{selectedPost.contact_number}}
        </p>
        <p>
          <label>Posted Date: </label> {{selectedPost.post_date | date:"MM/dd/yy"}}
        </p>
        <label>Condition: </label>
        <div *ngIf="selectedPost.condition ==1; then new else used"></div>
        <ng-template #new> New</ng-template>
        <ng-template #used> Used</ng-template>
      </span>
    </div>
  </div>
</div>

<!-- <mat-card class="example-card">
  {{selectedPost.title}}
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <div *ngFor="let img of selectedPost.image_urls">
    <img mat-card-image src="{{'https://firebasestorage.googleapis.com/v0/b/mwamp-cffcf.appspot.com/o/'+
      img+
      '?alt=media&token=cb68bddb-5097-420f-a84e-072498e580fb'}}" data-holder-rendered="true">
  </div>
  <mat-card-content>
    <p>
      Owner: {{selectedPost.user_name}}
    </p>
    <p>Price: {{selectedPost.price}}</p>
    <p>
      Description: {{selectedPost.description}}
    </p>
  </mat-card-content> 
</mat-card> -->