.detail_form {
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .example-card {
    max-width: 400px;
    margin-left: 12%;
    margin-right: 10%;    
  }
  
  .example-header-image {
    background-size: contain;
    display: inline-block
  }