<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="post-form">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title"  formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Price" type="number"  formControlName="price">
  </mat-form-field>
  <mat-form-field >
    <mat-select placeholder="Condition" formControlName="condition">
      <mat-option *ngFor="let cond of conditions" [value]="cond.key">
        {{cond.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category" formControlName="category">
      <mat-option *ngFor="let ctg of categories" [value]="ctg.key" >
        {{ctg.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Images"  formControlName="image_urls">
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a description" formControlName="description"></textarea>
  </mat-form-field>

  <div>
    <mat-radio-group formControlName="is_New">
      <mat-radio-button value="1" >New</mat-radio-button>
      <mat-radio-button value="2" >Used</mat-radio-button>
    </mat-radio-group>
  </div>


  <button mat-button [disabled]="!myForm.valid">Post</button>
</form>