<br/>
<br/>
<div style="text-align: center">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <label>Email:  </label>
    <input type="email" placeholder="Email" formControlName="email" />
    <span style="color: red">
      *
    </span>
    <span style="color: red" *ngIf="!this.forgotPasswordForm.get('email').valid && this.forgotPasswordForm.get('email').touched">
      <br/> Invalid Email
    </span>
    <span style="color: red" *ngIf="emailExists != ''">
      <br/> {{emailExists}}
    </span>
    <br/>
    <br/>
    <input type="submit" value="Recover Password" [disabled]="!forgotPasswordForm.valid || !emailExistsFlag" />
    <span style="color:green;" *ngIf="finalResMsg!=''">
      <br/>
      <br/>{{finalResMsg}}</span>
  </form>
</div>