
.example-card {
    max-width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 30px;
    background-color: rgba(141, 141, 141, 0.486) ;
  }
  
  .example-header-image {
    background-image: url('https://the-hollywood-gossip-res.cloudinary.com/iu/s--F_0FMLvw--/t_xlarge_p/cs_srgb,f_auto,fl_strip_profile.lossy,q_auto:420/v1517600897/tom-cruise-in-all-black.jpg');
    background-size: cover;
    
  }

  .container > * {
    display: inline-block;
}

span{
    margin-left: 100px;
    font-size: 15px;
}
.label {
	border-radius: 0 0 0 0;
	font-size: 0.875em;
    font-weight: 400;
    padding: 5px 15px;
	font-size: 1em;
}

.label-success {
	background-color: #8dc859;
}

.label-notActive {
	background-color: #e40000;
}